n8n/Gavrila - Task Ops.json
{
  "name": "Gavrila - Task Ops",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Task Ops Entry').item.json.task_system || $('Configure').item.json.default_task_system }}",
                    "rightValue": "github",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6a25400c-120d-4153-9fcb-58e49b421009"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "github"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fd09be2a-ee94-4e12-8de6-e94f67467ea7",
                    "leftValue": "={{ $('Task Ops Entry').item.json.task_system || $('Configure').item.json.default_task_system }}",
                    "rightValue": "linear",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linear"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        320,
        -352
      ],
      "id": "a72731e6-6b65-4169-9c10-bdd95c081bfd",
      "name": "Choose Task System"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "435061ab-86e9-4997-8b4c-95f231d62bc8",
              "leftValue": "={{ $('Task Ops Entry').item.json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -608
      ],
      "id": "7b3735f2-15fb-431d-88a7-c6847f0b4e50",
      "name": "If task provided"
    },
    {
      "parameters": {
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Configure').item.json.repository_url }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Configure').item.json.repository_url }}",
          "mode": "url"
        },
        "issueNumber": "={{ Number($('Task Ops Entry').item.json.task_id.match(/\\d+$/)[0]) }}\n"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        -704
      ],
      "id": "682377af-3898-4d73-a47b-8ae007adf39d",
      "name": "Get an issue",
      "webhookId": "6643a26a-d9ce-4562-adf7-b8982c40bf82",
      "credentials": {
        "githubApi": {
          "id": "GaRxZmasFeiFFbDt",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.comments_url }}?per_page=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.headers.link.match(/<([^>]+)>;\\s*rel=\"next\"/)?.[1] }}",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{   (() => {     const link = $response?.headers?.link || '';     const hasNext = /<([^>]+)>\\s*;\\s*rel=\"?next\"?/i.test(link);     return !hasNext;   })() }}",
              "limitPagesFetched": true,
              "maxRequests": 2
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        -704
      ],
      "id": "11778952-d077-4fe5-8084-77dffa2ff2a2",
      "name": "Get issue comments",
      "credentials": {
        "githubApi": {
          "id": "GaRxZmasFeiFFbDt",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "={{ $('Configure').item.json.repository_url }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Configure').item.json.repository_url }}",
          "mode": "url"
        },
        "title": "={{ $('Task Ops Entry').item.json.summary }}",
        "body": "={{ $('Task Ops Entry').item.json.body }}",
        "labels": [],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1040,
        -496
      ],
      "id": "8c20c3c6-6794-4c28-aa18-e9fd75cc6429",
      "name": "Create an issue",
      "webhookId": "f32c3377-8ece-4dc0-80de-c31016b370b0",
      "credentials": {
        "githubApi": {
          "id": "GaRxZmasFeiFFbDt",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: multiple items, each item.json is an array of comments (a page)\n// Output: single item with { comments: { comment: [...] } } for XML node\n\nfunction pick(v, ...paths) {\n  for (const p of paths) {\n    const segs = p.split('.');\n    let cur = v;\n    for (const s of segs) cur = cur?.[s];\n    if (cur !== undefined) return cur;\n  }\n  return undefined;\n}\n\nconst all = [];\n\n// Handle common shapes across n8n versions:\n// - item.json is an array (page)\n// - item.json.body is an array (when \"Return full response\" is on)\nfor (const it of items) {\n  const page =\n    Array.isArray(it.json) ? it.json :\n    (Array.isArray(it.json?.body) ? it.json.body : []);\n  all.push(...page);\n}\n\n// Optional: sort by created_at\nall.sort((a, b) => new Date(a.created_at) - new Date(b.created_at));\n\n// Map to a clean shape that XML node can turn into <comments><comment>...</comment></comments>\nconst merged = all.map(c => ({\n      id: c.id,\n      url: pick(c, 'html_url', 'url') ?? null,\n      author: pick(c, 'user.login', 'author_login') ?? null,\n      author_id: pick(c, 'user.id', 'author_id') ?? null,\n      author_association: c.author_association ?? null,\n      created_at: c.created_at,\n      updated_at: c.updated_at,\n      body: c.body,\n      reactions_total: pick(c, 'reactions.total_count', 'reactions_total') ?? 0,\n    }));\n\nreturn {\n  task_id: $('Get an issue').first().json.html_url.match(/\\/issues\\/(\\d+)/)[1],\n  url: $('Get an issue').first().json.html_url,\n  title: $('Get an issue').first().json.title,\n  author: $('Get an issue').first().json.user.login,\n  state: $('Get an issue').first().json.state,\n  instructions: $('Get an issue').first().json.body,\n  comments: merged\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -704
      ],
      "id": "367b783e-ce68-49b7-b2a4-c856c69a383e",
      "name": "Normalize existing task"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217e01b2-950c-45dc-be51-a1e975fcf44f",
              "name": "task_id",
              "value": "={{ $json.html_url.match(/\\/issues\\/(\\d+)/)[1] }}",
              "type": "string"
            },
            {
              "id": "e3928f0a-7c98-41c4-9b02-690bd617ef01",
              "name": "url",
              "value": "={{ $json.html_url }}",
              "type": "string"
            },
            {
              "id": "7b606685-d468-4383-983b-7901ae46d47a",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "321f46c7-2ea6-4edb-bbe2-70286e91908c",
              "name": "author",
              "value": "={{ $json.user.login }}",
              "type": "string"
            },
            {
              "id": "681cae0f-2065-4fcb-87df-590e36ffd2b5",
              "name": "state",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "80bfdc3b-dd49-4d6c-9971-55fdbb83061b",
              "name": "instructions",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -496
      ],
      "id": "098c8439-cf1a-4b53-b3be-90328bf79efe",
      "name": "Prepare created task"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wuIS4lmxJ8DhDmoW",
          "mode": "list",
          "cachedResultUrl": "/workflow/wuIS4lmxJ8DhDmoW",
          "cachedResultName": "Gavrila - Configure"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -288,
        -160
      ],
      "id": "2b87118e-24fa-4e3e-923a-a29d85ed7a8a",
      "name": "Configure"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Task Ops Entry').item.json.operation }}",
                    "rightValue": "ensure-task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4e1ef63b-a776-47f9-9443-b45e99f732e3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ensure-task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bdbf6f0f-d791-427f-a3fe-147e4d2ebb3e",
                    "leftValue": "={{ $('Task Ops Entry').item.json.operation }}",
                    "rightValue": "post-comment",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "post-comment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -80,
        -160
      ],
      "id": "3b7ed1bd-b22b-4524-a3eb-a0dfc2405f57",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Task Ops Entry').item.json.task_system || $('Configure').item.json.default_task_system }}",
                    "rightValue": "github",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6a25400c-120d-4153-9fcb-58e49b421009"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "github"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf32031c-1035-468f-9a3a-e42db0d446b1",
                    "leftValue": "={{ $('Task Ops Entry').item.json.task_system || $('Configure').item.json.default_task_system }}",
                    "rightValue": "linear",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linear"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        640,
        160
      ],
      "id": "5a90362f-0a42-4902-82ea-c7686a63c9f6",
      "name": "Choose Task System1"
    },
    {
      "parameters": {
        "errorMessage": "Task ID must be provided"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        368,
        144
      ],
      "id": "5346d433-0246-444d-97a3-2f8d9b285d7d",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "createComment",
        "owner": {
          "__rl": true,
          "value": "={{ $('Configure').item.json.repository_url }}",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Configure').item.json.repository_url }}",
          "mode": "url"
        },
        "issueNumber": "={{ $('Task Ops Entry').item.json.task_id }}",
        "body": "={{ $('Task Ops Entry').item.json.body }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1056,
        112
      ],
      "id": "79cf621a-1502-4395-8095-29668741df4c",
      "name": "Create a comment on an issue",
      "webhookId": "ea3ef5bc-0cd3-46d7-8b83-4ff4a35c1b78",
      "credentials": {
        "githubApi": {
          "id": "GaRxZmasFeiFFbDt",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "task_system"
            },
            {
              "name": "task_id"
            },
            {
              "name": "summary"
            },
            {
              "name": "body"
            },
            {
              "name": "operation"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        -160
      ],
      "id": "e019d92b-ebfa-4d41-b922-4f593eca035f",
      "name": "Task Ops Entry"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "435061ab-86e9-4997-8b4c-95f231d62bc8",
              "leftValue": "={{ $('Task Ops Entry').item.json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        -16
      ],
      "id": "d080e42f-04e1-4733-b509-eb41e0043bc2",
      "name": "If task provided for comment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "435061ab-86e9-4997-8b4c-95f231d62bc8",
              "leftValue": "={{ $('Task Ops Entry').item.json.task_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -288
      ],
      "id": "9d6226fb-ae1b-40d0-b019-76732760efa4",
      "name": "If task provided (Linear)"
    },
    {
      "parameters": {
        "operation": "get",
        "issueId": "={{ $('Task Ops Entry').item.json.task_id }}"
      },
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [
        1040,
        -320
      ],
      "id": "d9a933f7-2527-41a8-bd1a-91e79229d464",
      "name": "Get Linear issue",
      "credentials": {
        "linearApi": {
          "id": "xd6HBMsVjvekU4hz",
          "name": "Linear account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const comment = $('Get Linear task comments').item.json.data.issue.comments.nodes.map(n => ({\n  id: n.id,\n  body: n.body ?? '',\n  created_at: n.createdAt ?? null,\n  updated_at: n.updatedAt ?? null,\n  author_name: n.user?.name ?? null,\n  author_email: n.user?.email ?? null,\n}));\n\nreturn {\n  task_id: $('Get Linear issue').item.json.identifier,\n  url: '',\n  title: $('Get Linear issue').item.json.title,\n  author: $('Get Linear issue').item.json.creator ?? 'Unknown',\n  state: $('Get Linear issue').item.json.state.name,\n  instructions: $('Get Linear issue').item.json.description,\n  comments: comment\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -320
      ],
      "id": "5c7947ea-70a8-405f-9120-1d960a36b527",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query($issueId: String!) { issue(id: $issueId) { id title comments { nodes { id body createdAt updatedAt user { name email } } } } }\",\n  \"variables\": {\n    \"issueId\": \"{{ $('Task Ops Entry').item.json.task_id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        -320
      ],
      "id": "a83ea79a-2a60-462b-a209-ea0c193d86f9",
      "name": "Get Linear task comments",
      "credentials": {
        "linearApi": {
          "id": "xd6HBMsVjvekU4hz",
          "name": "Linear account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        -592
      ],
      "id": "cade33f0-4294-438f-bf4d-46b2eef6fa14",
      "name": "GitHub task ensured"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217e01b2-950c-45dc-be51-a1e975fcf44f",
              "name": "task_id",
              "value": "={{ $json.identifier }}",
              "type": "string"
            },
            {
              "id": "e3928f0a-7c98-41c4-9b02-690bd617ef01",
              "name": "url",
              "value": "=",
              "type": "string"
            },
            {
              "id": "7b606685-d468-4383-983b-7901ae46d47a",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "321f46c7-2ea6-4edb-bbe2-70286e91908c",
              "name": "author",
              "value": "={{ $json.creator.displayName }}",
              "type": "string"
            },
            {
              "id": "681cae0f-2065-4fcb-87df-590e36ffd2b5",
              "name": "state",
              "value": "={{ $json.state.name }}",
              "type": "string"
            },
            {
              "id": "80bfdc3b-dd49-4d6c-9971-55fdbb83061b",
              "name": "instructions",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        -96
      ],
      "id": "07465f2f-6130-4f86-80f5-e39583ccee2f",
      "name": "Prepare created Linear task"
    },
    {
      "parameters": {
        "teamId": "={{ $('Configure').item.json.linear_team_uuid }}",
        "title": "={{ $('Task Ops Entry').item.json.summary }}",
        "additionalFields": {
          "description": "={{ $('Task Ops Entry').item.json.body }}",
          "stateId": "={{ $('Configure').item.json.linear_inprogress_state_uuid }}"
        }
      },
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [
        1040,
        -96
      ],
      "id": "68160592-cb89-4c0c-905b-508f1c8d2bac",
      "name": "Create Linear task",
      "credentials": {
        "linearApi": {
          "id": "xd6HBMsVjvekU4hz",
          "name": "Linear account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1664,
        -192
      ],
      "id": "05100bb3-abd3-4f62-bbb3-f186c5ac0a43",
      "name": "Linear Task info without URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linearApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query { issue(id: \\\"{{ $json.task_id }}\\\") { url } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        -192
      ],
      "id": "ade679e5-2e0e-42e3-9283-ed04f7a90acb",
      "name": "HTTP Request",
      "credentials": {
        "linearApi": {
          "id": "xd6HBMsVjvekU4hz",
          "name": "Linear account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2304,
        -192
      ],
      "id": "96369ec5-28f7-43ea-b942-8de21df1e05d",
      "name": "Linear task ensured"
    },
    {
      "parameters": {
        "resource": "comment",
        "issueId": "={{ $('Task Ops Entry').item.json.task_id }}",
        "comment": "={{ $('Task Ops Entry').item.json.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [
        1056,
        320
      ],
      "id": "cb3e5b69-4624-4135-8de1-d77e03bb4b1d",
      "name": "Add a comment to a Linear issue",
      "credentials": {
        "linearApi": {
          "id": "xd6HBMsVjvekU4hz",
          "name": "Linear account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "217e01b2-950c-45dc-be51-a1e975fcf44f",
              "name": "task_id",
              "value": "={{ $('Linear Task info without URL').item.json.task_id }}",
              "type": "string"
            },
            {
              "id": "e3928f0a-7c98-41c4-9b02-690bd617ef01",
              "name": "url",
              "value": "={{ $json.data.issue.url }}",
              "type": "string"
            },
            {
              "id": "7b606685-d468-4383-983b-7901ae46d47a",
              "name": "title",
              "value": "={{ $('Linear Task info without URL').item.json.title }}",
              "type": "string"
            },
            {
              "id": "321f46c7-2ea6-4edb-bbe2-70286e91908c",
              "name": "author",
              "value": "={{ $('Linear Task info without URL').item.json.author }}",
              "type": "string"
            },
            {
              "id": "681cae0f-2065-4fcb-87df-590e36ffd2b5",
              "name": "state",
              "value": "={{ $('Linear Task info without URL').item.json.state }}",
              "type": "string"
            },
            {
              "id": "80bfdc3b-dd49-4d6c-9971-55fdbb83061b",
              "name": "instructions",
              "value": "={{ $('Linear Task info without URL').item.json.instructions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        -192
      ],
      "id": "2e5d9869-88d6-4db3-8b02-81c34b28e191",
      "name": "Populate URL"
    }
  ],
  "connections": {
    "If task provided": {
      "main": [
        [
          {
            "node": "Get an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Task System": {
      "main": [
        [
          {
            "node": "If task provided",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If task provided (Linear)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an issue": {
      "main": [
        [
          {
            "node": "Get issue comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get issue comments": {
      "main": [
        [
          {
            "node": "Normalize existing task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize existing task": {
      "main": [
        [
          {
            "node": "GitHub task ensured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Prepare created task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare created task": {
      "main": [
        [
          {
            "node": "GitHub task ensured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Choose Task System",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If task provided for comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Task System1": {
      "main": [
        [
          {
            "node": "Create a comment on an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add a comment to a Linear issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a comment on an issue": {
      "main": [
        []
      ]
    },
    "Task Ops Entry": {
      "main": [
        [
          {
            "node": "Configure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If task provided for comment": {
      "main": [
        [
          {
            "node": "Choose Task System1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If task provided (Linear)": {
      "main": [
        [
          {
            "node": "Get Linear issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Linear task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linear issue": {
      "main": [
        [
          {
            "node": "Get Linear task comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linear task comments": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Linear Task info without URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Linear task": {
      "main": [
        [
          {
            "node": "Prepare created Linear task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare created Linear task": {
      "main": [
        [
          {
            "node": "Linear Task info without URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linear Task info without URL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Populate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Populate URL": {
      "main": [
        [
          {
            "node": "Linear task ensured",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "011d2f52-5755-485a-b861-2fe57a917c2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04d1d37e120bf230231a954423709cc89297b436c5ea28c06a42c9abeb123424"
  },
  "id": "fYWsAFNMx99n8Uel",
  "tags": []
}
